// define colours:

$baseColour: #333;
$accentColour: #ff1972;
$titleColor: #323232;


$rootFontSize: 100;

$gutter: 5%;

$bodyFont: 'asapRegular', helvetica, arial, sans-serif;
$bodyItalicFont: 'asapItalic', helvetica, arial, sans-serif;

// breakpoints:
$mobileportrait: 30em;
$tabletportrait: 60em;

$triggerIEAt: 980px;